.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg") center
    no-repeat;
  background-size: cover;
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 9.4rem;
  object-fit: contain;
  padding-left: 1em;
}

.loginScreen__gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen__body {
  z-index: 1;
  top: 30%;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  position: absolute;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.loginScreen__body > h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 400;
}
.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen__button {
  position: fixed;
  right: 1.4rem;
  top: 1.4rem;
  padding: 0.4em 0.8em;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  cursor: pointer;
  border: none;
}

.loginScreen__input > form > input {
  padding: 10px;
  outline: none;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen__input {
  margin: 20px;
}

.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
